{% extends "base.html" %}

{% block title %}Top Movies{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center">Current Frontrunners for Best Picture 2025</h2>
    <div class="row justify-content-center">
        {% for movie in movies %}
        <div class="col-md-4">
            <div class="card mb-4 hover-card">
                <a href="/movie/{{ movie['Movie Name'] }}" class="text-decoration-none">
                {% if movie.Poster %}
                <img src="{{ movie.Poster }}" class="card-img" alt="{{ movie['Movie Name'] }} Poster">
                {% else %}
                <div class="card-img-top text-center p-5 bg-light">No Poster Available</div>
                {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center">{{ movie['Movie Name'] }}</h5>
                    <p class="card-text">
                        <strong>GoldDerby All Star User Votes:</strong> {{ movie['pct_vote_star24'] }}%<br>
                        <strong>Betting Odds:</strong> {{ movie['betting_pct'] }}%
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
