{% extends "base.html" %}

{% block title %}GoldDerby Win Votes vs Betting Odds{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center">GoldDerby Win Votes vs Betting Odds</h2>
    <p class="text-muted text-center">Last updated: {{ latest_date }}</p>
    <div class="alert alert-info" role="alert">
        The probabilities below (Experts, GoldDerby Users, All Star Users) reflect the percentage of voters in each group who expect the movie to win Best Picture.
    </div>

    <div class="table-responsive">
        {{ table | safe }}
    </div>
</div>

<script>
    $(document).ready(function() {
        $.fn.dataTable.ext.type.order['num-unavailable-pre'] = function(data) {
            // Check if the value is "Unavailable"
            if (data === 'Unavailable') {
                return Number.NEGATIVE_INFINITY;
            }
            // Parse the value as a float
            return parseFloat(data.replace(/[^-0-9.]/g, '')) || 0;
        };


        $('.data').DataTable({
            "columnDefs": [
                {
                    "targets": 5,
                    "type": "num-unavailable"
                }
            ],
            "order": [[5, "desc"]],
            "createdRow": function(row, data, dataIndex) {

                var diff = parseFloat(data[5]);
                if (diff > 5) {
                    $(row).find('td:eq(5)').css('background-color', 'green').css('color', 'white');
                } else if (diff < -5) {
                    $(row).find('td:eq(5)').css('background-color', 'red').css('color', 'white');
                }
            }
        });
    });
</script>


{% endblock %}
